* {
    margin: 40px;
}

body {
    background-color: #116b94;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(22, 24, 24);
}

button {
    background-color: rgb(7, 11, 87);
    color: white;
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
    background-color: rgb(65, 8, 122);
}

.container,
content,
h1 {
    background-color: rgb(246, 248, 130);
    text-align: center;
    color: rgb(15, 15, 15);
    margin-top: 70px;
}